html,
body {
    height: 100%;
    width: 100%;
    background-color: #181818;
    overflow: hidden;
}

/* Intro */

.intro {
    position: fixed;
    inset: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Noto Sans;
    overflow: hidden;
    transition: transform 2s ease-out;
    background-color: #181818;
}

.intro.hidden {
    display: none;
}

.intro.leave {
    transform: translateY(-120%);
}

.author {
    position: absolute;
    top: 30px;
    left: 49%;
    transform: translateX(-50%);
    font-weight: 100;
    font-size: 17px;
    letter-spacing: 2px;

    cursor: pointer;
}

.author:hover {
    font-size: 18px;
}

.intro #greetings {
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 80px;
    font-style: normal;
}

/* Background Clouds Intro */

.first-cloud-intro {
    position: absolute;
    top: 500px;
    left: -10px;
    width: 220px;
    height: 120px;
    rotate: -10deg;

    background:
        radial-gradient(60px 60px at 20px 65px, #414141 98%, transparent 100%),
        radial-gradient(50px 50px at 120px 35px, #414141 98%, transparent 100%),
        radial-gradient(70px 70px at 135px 150px, #414141 98%, transparent 100%),
        linear-gradient(#414141, #414141) 0 70% / 220px 60px no-repeat;

    filter: blur(40px);
}

.second-cloud-intro {
    position: absolute;
    top: 50px;
    right: 42%;
    width: 210px;
    height: 110px;
    rotate: 10deg;

    background:
        radial-gradient(58px 58px at 35px 55px, #414141 98%, transparent 100%),
        radial-gradient(48px 48px at 95px 30px, #414141 98%, transparent 100%),
        radial-gradient(65px 65px at 155px 58px, #414141 98%, transparent 100%),
        radial-gradient(36px 36px at 120px 85px, #414141 98%, transparent 100%),
        linear-gradient(#414141, #414141) 0 65% / 210px 56px no-repeat;

    filter: blur(40px);
}

.thrid-cloud-intro {
    position: absolute;
    top: 65%;
    right: -3%;
    width: 250px;
    height: 190px;
    rotate: 180deg;

    background:
        radial-gradient(58px 58px at 35px 55px, #414141 98%, transparent 100%),
        radial-gradient(48px 48px at 95px 30px, #414141 98%, transparent 100%),
        radial-gradient(65px 65px at 155px 58px, #414141 98%, transparent 100%),
        radial-gradient(36px 36px at 120px 85px, #414141 98%, transparent 100%),
        linear-gradient(#414141, #414141) 0 65% / 210px 56px no-repeat;

    filter: blur(40px);
}

.first-cloud-intro,
.second-cloud-intro,
.thrid-cloud-intro {
    opacity: 0;
    transition: opacity 2s ease-in-out;
    will-change: opacity, top, left;
}

.hint {
    position: absolute;
    top: 10%;
    right: 46%;
    rotate: -10deg;

    animation: pulseAndRotate 2s infinite ease-in-out;
    transition: opacity 1s ease;
}

@keyframes pulseAndRotate {

    0%,
    100% {
        opacity: 1;
        transform: scale(1) rotate(2deg);
    }

    50% {
        opacity: 0.6;
        transform: scale(1.2) rotate(-2deg);
    }
}

/* Main page */

.container {
    width: 100%;
    max-width: 1178px;
    top: 7%;
    margin: 0 auto;
    padding: 0 32px;
    box-sizing: border-box;

    position: relative;
    z-index: 1;
    overflow: hidden;

    font-family: Noto Sans;
    background-color: #181818;
    color: #fff;
    font-size: 50px;
}



.logoAndService {
    display: flex;
    justify-content: space-between;

    
}

.service {
    position: relative;

    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

.service span:not(.discount) {
    display: flex;
    align-items: self-end;
}

.service .discount {
    display: block;
    font-size: 10px;
    text-align: end;

    font-weight: 100;
    opacity: 60%;
}

.lineService {
    position: relative;
    top: 30%;
    height: 2px;
    width: 16px;
    background-color: #fff;
}

.menu {
    position: absolute;
    top: 50%;
    left: -6%;
    z-index: 10;
  
    display: flex;
    gap: 55px;
  
    transform-origin: top left;
    transform: translateY(70vh) rotate(-90deg);
}

.menu a {
    font-size: 18px;
    font-weight: 400;
}

.menu-wrap {
    position: relative; 
}

.lineHome {
    height: 1.5px;
    width: 16px;
    background-color: #fff;
}

.lineCases {
    height: 1.5px;
    width: 16px;
    background-color: #fff;
    visibility: hidden;
}

.lineProjects {
    height: 1.5px;
    width: 16px;
    background-color: #fff;
    visibility: hidden;
}

.lineContact {
    height: 1.5px;
    width: 16px;
    background-color: #fff;
    visibility: hidden;
}

.lineAbout {
    height: 1.5px;
    width: 16px;
    background-color: #fff;
    visibility: hidden;
}

.front-endDev {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    min-height: 40vh;
    margin-top: 10%;
}

.front-endDev span {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;


    font-size: 50px;
    font-family: DotGothic16;
}

.lineFront-end {
    position: absolute;
    left: 100%;
    top: 100%;
    transform: translateY(-5px);
    height: 4px;
    width: 40px;
    background-color: #fff;
}

.lightMode {
    position: absolute;
    top: 50%;
    right: -50%;
  
    display: flex;
    gap: 55px;
  
    transform-origin: top left;
    transform: translateY(75vh) rotate(-90deg);

    font-family: Noto Sans;
    font-weight: 600;
    font-size: 15px;

    cursor: pointer;
}

.cloudOne {
    position: absolute;
    top: 70%;
    left: -15%;
    width: 400px;
    height: 190px;
    rotate: 45deg;
    inset: 0;
    overflow: hidden;
    z-index: 0;

    background: #414141;

    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;

    filter: blur(40px);

    

}
.cloudTwo {
    position: absolute;
}
.cloudThree {
    position: absolute;
}